*{
    margin: 0;
    padding: 0;
}

.main{
    width:200px;
    background-position: center;
    background-size: cover;
    height:100vh;
    position:relative;
    font-family: 'Times New Roman', Times, serif;
}

.navbar{
    display: inline;
    margin: 0%;
    padding: 0%;
    background-color: aqua;
}

ul li{
    list-style:none;
    display: flex;
    padding-left: 0%;
}